[submodule "include/nanoflann"]
	path = include/nanoflann
	url = git@github.com:jlblancoc/nanoflann.git
[submodule "include/pybind11"]
	path = include/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "include/qhull"]
	path = include/qhull
	url = git@github.com:qhull/qhull
[submodule "include/spdlog"]
	path = include/spdlog
	url = git@github.com:gabime/spdlog
